@import "../../layout.scss";

.home-header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 80px;
  background-color: $secondary;
  padding: 0 10px;
  
  @media #{$media-laptop} {
    .logo, .site-name {
      display: none;
    }

    justify-content: flex-end;
  }
  
  .logo, .site-name {
    margin: 0 4px;
    color: $color-eggshell;
  }
}