.default-background {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(blue, red);
  background-position: center;
  background-size: cover;
}